
{#
/**
 * @file
 * Default theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - link: A link to the file.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
<div class="tal__download--button" {{ attributes }}>
    {% if link %}
        <p class="file-size">{{ file_size }}</p>
        <span class="btn--download">{{ link }}</span>
    {% endif %}
    {% if content %}
        {{ content }}
    {% endif %}

</div>
<div class="tal--download-external-link">
    {{ external_download_link }}
</div>
